<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>khairun Nisa</title>
    <link rel="stylesheet" href="/static/project/style.css">
    <img src="" alt="">
</head>
<body>
    <div class="UTF-8">
        <div class="nav">
            <div class="logo">
                <a href="file:///F:/umar/smr/dasar.html">
                    <p>Belajar Coding<p>
                </a>
            </div>
            <ul>
                <li>Home<a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjS2bqKk_76AhXXmWYCHZu4B-IYABAAGgJzbQ&ae=2&ohost=www.google.com&cid=CAESauD2JdclMCqSoLNO4CCCXWAmLkJDLp17Wh2CuVg5aBtXQ2e9zctmDpcEna8u2DftTFlu38z83o6NB0B4z-43bv2y7m9tz155dGQ8dsFcMLUTN9fstb5Cg069Nmx4yrTuKZj9-23mqI-XFhA&sig=AOD64_2ow_TnipAMkU0Lc3f0R5PcIJvIXQ&q&adurl&ved=2ahUKEwiZ_bOKk_76AhV1UnwKHRSBA1AQ0Qx6BAgJEAE"></a></li>
                <li>About<a href="https://twitter.com/login"></a></li>
                <li>Contact<a href="https://www.instagram.com/?hl=id"></a></li>

            </ul>
        </div>
        <div class="header">
            <h1>Belajar<span>Coding</span></h1>
        </div>

        <div class="content-header">
            <p>hususnya di kampus UIM Madura.</p>
                <br>
                <input type="text" nama="text" class="search-input" placeholder="Tutorial Coding...">
                <input class="search-btn" type="button" value="cari">
        </div>
        <div class="col-img">
            <img src="coding-icon-png-4.jpg" alt="">
        </div>
        
    </div>
</body>
</html>